.board_number {
    min-width: 55px;
    min-height: 35px;
    width: 9%;
    height: 8vh;
    line-height: 8vh;
    margin: 2px;
    display: inline-block;
    font-size: 40px;
    box-sizing: border-box;
    background-color: var(--num-bg-color, #fff);
    border-radius: 0%;
    border: 1px solid var(--border-color);
    color: var(--num-color);
    text-shadow: var(--num-gen-text-shadow, 0px 0px #ff0000);
    opacity: var(--num-bg-opacity, 1);
}
.number {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
    padding: 4px;
    border-radius: 10px;
    min-width: 150px;
    color: var(--generator-text-color2);
    background-color: var(--called-bg-color, var(--lite-bg-color));
    border: 1px solid var(--border-color);
}
.generated {
    font-weight: 700;
    border-color: var(--border-color);
    color: var(--num-gen-color);
    text-decoration: var(--num-gen-text-decoration, none);
    background-color: var(--num-gen-bg-color2);
}

.last {
    border-color: var(--border-color);
    border-width: var(--last-border-width, 1px);
    color: var(--last-text-color);
    background-color: var(--lingo-text-color);
}
@media screen and (max-width: 393px) {
    .number {
        min-width: 100px;
        font-size: 40px;
    }
}